name: Show File Content

on:
  workflow_dispatch:

jobs:
  show:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: List files
        run: ls -ltr

      - name: Display file content
        run: cat sample.txt
